/*Estilos generales */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Monserrat;
}

main{
  margin: 7rem;
}

.boton {
  background-color: rgba(225, 95, 151, 0.652);;
  padding:0.5rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 0.25rem;  
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
  color:rgb(3, 19, 3);
  margin: 5px;
}

nav ul {
  list-style: none;
  display: inline-flex;
  gap: 2rem;
  margin: auto 4rem auto auto;
  align-items: center;
 
}

nav li {
  display: inline-block;
  
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0.3rem;
  float: left;
}

.nav-text{
  font-weight: 800 !important;
}
.titulo{
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.751);
}

.subtitulo{
  text-align: center;
  font-size: 1.5rem;
}

.cart-length{
  display: inline-block;
  padding:0.6rem; 
  border-radius: 50%;
  margin-right: 1rem;
  margin-left:0.5rem;  
}

.contador{
  position: absolute;
  top: 35px;
  right:14.6rem;
  background: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: bold;


}
/*Footer*/
footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: rgb(212, 125, 163);
 
}

footer ul {
  list-style: none;
  display: inline-flex;
  gap: 2rem;
  margin: auto 4rem auto auto;
  align-items: center;
}

/*Productos*/
#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
#product-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(216, 120, 162, 0.652);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.product-img{
  width: 50%;
  height: auto;
  border-radius: 2px;
}

.detail-img{
  width: 15%;
  height: auto;
}

/* Inicio*/
  .carousel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  /* Slides */
  .slides {
    display: flex;
    width: 300%; /* 3 imágenes */
    animation: slide 15s infinite;
  }

  /* Cada imagen del carrusel */
  .slide {
    width: 100%;
    flex-shrink: 0;
  }

  .slide img {
    max-width: 100%;
    display: block;
  }

  /* Animación para deslizar las imágenes */
  @keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(0%); }
      100% { transform: translateX(0%); }
  }

  /*Efecto de cargando para la espera de los productos de API*/
  .loading{
      margin:auto;
    width: 10rem;
    height: 10rem;
    border: 1rem solid #eee;
    border-top: 1rem solid rgb(233, 142, 156);
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

   @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }